// animations.less
// Wes Wise
// May 2015

/* keyframes */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes headerMoveDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes headerMoveDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes headerGrow {
	0% {
		transform: scale(0, 0);
	}
	100% {
		transform: scale(3, 3); 
	}
}

@keyframes headerGrow {
	0% {
		transform: scale(0, 0);
	}
	100% {
		transform: scale(3, 3); 
	}
}

@-webkit-keyframes headerColorChange {
	0% {
		color: @white;
	}
	100% {
		color: @fourthColor;
	}
}

@keyframes headerColorChange {
	0% {
		color: @white;
	}
	100% {
		color: @fourthColor;
	}
}

/* header animation classes */
#header {
	
	h1 {
		animation: headerMoveDown 2s ease forwards;
	}
	
	h2 {
		animation: fadeIn 2s ease 2s forwards;
	}
	
	.laptop {
		padding-top: 7px;
		animation: fadeIn 2s linear forwards, headerGrow 2s linear forwards, headerColorChange 2s ease 2.5s forwards;
	}
}


/* sect-learning keyframes */
@-webkit-keyframes flipY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes flipY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@-webkit-keyframes flipX {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

@keyframes flipX {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

/* sect-learning animation classes */
.animate-flipY {
	animation: flipY 1s ease-in-out forwards;
}

.animate-flipX {
	animation: flipX 1s ease-in-out forwards;
}
