// base.less
// Wes Wise
// May 2015


body {
  font-family: 'Raleway', sans-serif;
}

section {
	display: inline-block;
	width: 100%;
	padding: 25px 0;
}

#sect-knowledge,
#sect-resources {
	background: @gray;
}

footer {
	min-height: 100px;
	background-color: @secondColor;
	padding: 15px 35px;
	
	& p,
	  h3 {
		color: @white;
	}
	
	& p.copyright {
		margin-top: 25px;
		font-weight: bold;	
	}
}


#header {
	height: 465px;
	min-height: 465px;
	padding: 25px;
	background: @secondColor;
	color: @white;
	text-align: center;
	overflow: hidden;
	
	& h1 {
		color: @white;
		font-size: 3em;	
	}
	
	& h2 {
		position: relative;
		top: 70px;
		opacity: 0;
	}
	
	& .laptop i {
		font-size: 8em;
	}
}

.sect-heading {
	width: 100%;
	margin-bottom: 25px;
	text-align: center; 
}


/**** navigation ****/
nav {
	background: @firstColor;
	height: 64px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	transition: all 1s linear forwards;
	
	& ul {
		margin-right: 25px;
		list-style: none;
	}
	
	& ul li {
		display: inline-block;
		position: relative;
		top: 16px;
		width: 100px;
		height: 32px;
		text-align: center;
	}
	
	& ul li a {
		display: block;
		height: inherit;
		padding-top: 6px;
		text-decoration: none;
		color: @white;

	}
	
	& ul li a:hover,
	  ul li.active {
		background-color: @fifthColor;
		color: @white;
	}
	
	& span.brand {
		margin-left: 25px;
		width: 100px;
		list-style: none;
		font-size: 3em;
		color: @white;
		padding-top: 18px;
		
		a {
			color: @white;
			text-decoration: none;
		}
		
		a:hover {
			color: @thirdColor;
		}
	}
	
	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		height: 32px;
		z-index: 100;
		background: fade(@firstColor, 90%);
		box-shadow: 0 0 5px @darkGray;
		transition: all 1s linear forwards;
		
		span.brand {
			font-size: 1.5em;
			padding-top: 5px;
		}
		
		ul li {
			height: 32px;
			position: relative;
			top: 0;
		}
	}
}


/**** project section *****/

.project {
	
	position: relative;
  height: 200px;
	margin: 15px;
  border: 2px solid @secondColor;
	
	& a {
		display: block;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}
	
	& .overlay {
		display: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  color: @white;
	  transition: background 0.3s linear;
	  background: @blackTransparent;
	  text-align: center;
	}
	
	& .overlay:hover {
		background: @projectHover;
  	transition: background 0.3s linear; 
  	color: @white;
	}
	
	& .info {
		position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 50%;
		background: @secondColor;
		
		h3 {
			padding: 8px 0;
		}
	}
}


.proj-portfolio {
	background-image: url('../img/projects/portfolio.PNG');
	background-size: cover;
}

.proj-filters {
  background-image: url('../img/projects/images.PNG');
  background-size: cover;
}

.proj-animation i {
	padding-top: 15px;
	color: @firstColor;
	font-size: 5em;
}

.proj-periodic {
  background-image: url("../img/projects/periodic.PNG");
  background-size: contain;
}
.proj-grid {
  background-image: url("../img/projects/ww-grid.PNG");
  background-size: cover;
}
.proj-non-spa {
  background-image: url("../img/projects/non-spa.PNG");
  background-size: cover;
}

//still under projects - links to bitbucket and codepen
#sect-projects-accounts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.account {
	text-align: center;
	
	& a {
		display: block;
		margin: 0 auto;
		width: 100px;
		text-decoration: none;
		color: @thirdColor;
	}
	
	& a:hover {
		color: @fifthColor;
		transition: color 0.25s ease-in-out;
	}
	
	& i {
		font-size: 6em;
		text-align: center;
	}
}


//*** knowlege section ***/
#sect-knowledge {
	
	& div:nth-child(2) {
		text-align: right;	
	}
	
	& div:nth-child(4) i {
		transform: rotate(180deg);
	}
	
	& h3 {
		padding: 25px 0 10px 0;
	}
	
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	& ul li {
		height: 30px;
		font-size: larger;
	}
	
	& ul li i {
		color: @firstColor;
	}
	
	& ul li i.fa-heart {
		color: @angular;
	}
	
	& .platforms .icons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		margin: 30px 0;
	}
	
	& .platforms i {
		font-size: 6em;
		
		&.fa-apple {
			color: @appleColor;
		}
		
		&.fa-linux {
			color: @linuxColor;
		}
		
		&.fa-windows {
			color: @windowsColor;
		}
	}
	
	& .center-icons {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		
	  i {
			text-align: center;
			margin-bottom: 25px;
			color: @white;
		}
		
		i.fa-css3 {
			color: @css3Color;
		}
		
		i.fa-html5 {
			color: @html5Color;
		}
	}
}


//*** learning section ***/
#sect-learning {
	
	& .blocks-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		
		& .block {
			flex-grow: 1;
			position: relative;
			min-width: 15%;
			height: 150px;
			color: @white;
			
			& p {
				text-align: center;
				font-size: 1.3em;
				padding-top: 55px;
			}
			
			& h3 {
				position: absolute;
				bottom: 0;
				text-align: center;
				padding-top: 15px;
				letter-spacing: 0.2em;
			}
			
			&.blank {
				color: @black;
				background: @white;	
			}
			
			&.spotify {
				background: @spotify;
			}
			
			&.darkSky {
				background: @darkSky;
			}
			
			&.apigee {
				background: @apigee;
			}
			
			&.streamio {
				background: @streamio;
			}
			
			&.node {
				background: @node;
			}
			
			&.angular {
				background: @angular;
			}
			
			&.mongo {
				background: @mongo;
			}
			
			&.backbone {
				background: @backbone;
			}
			
			&.react {
				background: @react;
			}
			
			&.echonest {
				background: @echonest;
			}
			
			&.rdio {
				background: @rdio;
			}
			
			&.fivehundred {
				background: @fiveHundredpx;
			}
			
			&.mobile1 {
				background: @mobile1;
			}
			
			&.mobile2 {
				background: @mobile2;
			}
			
			&.mobile3 {
				background: @mobile3;
			}
			
			&.mobile4 {
				background: @mobile4;
			}
			
			&.mobile5 {
				background: @mobile5;
			}
		}		
		
		& .block:hover {
			opacity: 0.90;
			transition: all 0.25s linear;
		}
	}
	
}


//*** resource section ***/
#sect-resources-list {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.resource {
	
	flex-grow: 1;
	min-width: 25%;
	
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	& h3 {
		color: @white;
		padding: 15px;
		border-bottom: 2px solid @whiteTransparent;
	}
	
	& a {
		display: block;
		padding: 3px 15px;	
		text-decoration: none;
		font-size: 1.25em;
		color: @white;
		transition: background 0.25s linear;
	}
	
	& a:hover {
		background: @whiteTransparent;
	}
}

.resource:nth-child(1) {
	background: @resourceGroup1;
}

.resource:nth-child(2) {
	background: @resourceGroup2;
}

.resource:nth-child(3) {
	background: @resourceGroup3;
}

.resource:nth-child(4) {
	background: @resourceGroup4;
}


/****  contact section *****/
#contacts-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 25px;
}

.contacts {
	
	& a {
		color: @thirdColor;
		transition: all 0.25s ease;
	}
	
	& a:hover {
		color: @fifthColor;
		transition: all 0.25s ease;
	}
	
	& i {
		font-size: 5em;
	}
}

/*** jump to top ***/
.jump-to-top {
	text-align: center;
  width: 38px;
  height: 38px;
  position: fixed;
  bottom: 10px;
  right: 25px;
  color: @darkGray;
  border-radius: 20px;
  background: fade(@gray, 50%);
  opacity: 0.30;
  display: none;
}

.jump-to-top:hover {
  background: @blackTransparent;
  cursor: pointer;
  transition: opacity 0.5s linear, background 0.5s linear;
	
	& i {
		color: @white;
	}
}

/* font-awesome overrides */
.fa-7x {
	font-size: 7em;
}

.fa-8x {
	font-size: 8em;
}

.fa-9x {
	font-size: 9em;
}

.fa-10x {
	font-size: 10em;
}