body {
  font-family: 'Raleway', sans-serif;
}
section {
  display: inline-block;
  width: 100%;
  padding: 25px 0;
}
#sect-knowledge,
#sect-resources {
  background: #eeeeee;
}
footer {
  min-height: 100px;
  background-color: #169fa3;
  padding: 15px 35px;
}
footer p,
footer h3 {
  color: #ffffff;
}
footer p.copyright {
  margin-top: 25px;
  font-weight: bold;
}
#header {
  height: 465px;
  min-height: 465px;
  padding: 25px;
  background: #169fa3;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
}
#header h1 {
  color: #ffffff;
  font-size: 3em;
}
#header h2 {
  position: relative;
  top: 70px;
  opacity: 0;
}
#header .laptop i {
  font-size: 8em;
}
.sect-heading {
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
}
/**** navigation ****/
nav {
  background: #225378;
  height: 64px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  transition: all 1s linear forwards;
}
nav ul {
  margin-right: 25px;
  list-style: none;
}
nav ul li {
  display: inline-block;
  position: relative;
  top: 16px;
  width: 100px;
  height: 32px;
  text-align: center;
}
nav ul li a {
  display: block;
  height: inherit;
  padding-top: 6px;
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:hover,
nav ul li.active {
  background-color: #eb7f00;
  color: #ffffff;
}
nav span.brand {
  margin-left: 25px;
  width: 100px;
  list-style: none;
  font-size: 3em;
  color: #ffffff;
  padding-top: 18px;
}
nav span.brand a {
  color: #ffffff;
  text-decoration: none;
}
nav span.brand a:hover {
  color: #acf0f2;
}
nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 32px;
  z-index: 100;
  background: rgba(34, 83, 120, 0.9);
  box-shadow: 0 0 5px #333333;
  transition: all 1s linear forwards;
}
nav.sticky span.brand {
  font-size: 1.5em;
  padding-top: 5px;
}
nav.sticky ul li {
  height: 32px;
  position: relative;
  top: 0;
}
/**** project section *****/
.project {
  position: relative;
  height: 200px;
  margin: 15px;
  border: 2px solid #169fa3;
}
.project a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.project .overlay {
  display: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  transition: background 0.3s linear;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.project .overlay:hover {
  background: rgba(235, 127, 0, 0.85);
  transition: background 0.3s linear;
  color: #ffffff;
}
.project .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #169fa3;
}
.project .info h3 {
  padding: 8px 0;
}
.proj-portfolio {
  background-image: url('../img/projects/portfolio.PNG');
  background-size: cover;
}
.proj-filters {
  background-image: url('../img/projects/images.PNG');
  background-size: cover;
}
.proj-animation i {
  padding-top: 15px;
  color: #225378;
  font-size: 5em;
}
.proj-periodic {
  background-image: url("../img/projects/periodic.PNG");
  background-size: contain;
}
.proj-grid {
  background-image: url("../img/projects/ww-grid.PNG");
  background-size: cover;
}
.proj-non-spa {
  background-image: url("../img/projects/non-spa.PNG");
  background-size: cover;
}
#sect-projects-accounts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.account {
  text-align: center;
}
.account a {
  display: block;
  margin: 0 auto;
  width: 100px;
  text-decoration: none;
  color: #acf0f2;
}
.account a:hover {
  color: #eb7f00;
  transition: color 0.25s ease-in-out;
}
.account i {
  font-size: 6em;
  text-align: center;
}
#sect-knowledge div:nth-child(2) {
  text-align: right;
}
#sect-knowledge div:nth-child(4) i {
  transform: rotate(180deg);
}
#sect-knowledge h3 {
  padding: 25px 0 10px 0;
}
#sect-knowledge ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sect-knowledge ul li {
  height: 30px;
  font-size: larger;
}
#sect-knowledge ul li i {
  color: #225378;
}
#sect-knowledge ul li i.fa-heart {
  color: #dd1b16;
}
#sect-knowledge .platforms .icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 30px 0;
}
#sect-knowledge .platforms i {
  font-size: 6em;
}
#sect-knowledge .platforms i.fa-apple {
  color: #a8b1b8;
}
#sect-knowledge .platforms i.fa-linux {
  color: #fc4c02;
}
#sect-knowledge .platforms i.fa-windows {
  color: #0078d7;
}
#sect-knowledge .center-icons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#sect-knowledge .center-icons i {
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
}
#sect-knowledge .center-icons i.fa-css3 {
  color: #1572b6;
}
#sect-knowledge .center-icons i.fa-html5 {
  color: #f16528;
}
#sect-learning .blocks-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#sect-learning .blocks-container .block {
  flex-grow: 1;
  position: relative;
  min-width: 15%;
  height: 150px;
  color: #ffffff;
}
#sect-learning .blocks-container .block p {
  text-align: center;
  font-size: 1.3em;
  padding-top: 55px;
}
#sect-learning .blocks-container .block h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
  letter-spacing: 0.2em;
}
#sect-learning .blocks-container .block.blank {
  color: #000000;
  background: #ffffff;
}
#sect-learning .blocks-container .block.spotify {
  background: #2ebd59;
}
#sect-learning .blocks-container .block.darkSky {
  background: #2c2c2c;
}
#sect-learning .blocks-container .block.apigee {
  background: #fc4c02;
}
#sect-learning .blocks-container .block.streamio {
  background: #5f7b9b;
}
#sect-learning .blocks-container .block.node {
  background: #80bd01;
}
#sect-learning .blocks-container .block.angular {
  background: #dd1b16;
}
#sect-learning .blocks-container .block.mongo {
  background: #3b291f;
}
#sect-learning .blocks-container .block.backbone {
  background: #0071b5;
}
#sect-learning .blocks-container .block.react {
  background: #61affb;
}
#sect-learning .blocks-container .block.echonest {
  background: #414143;
}
#sect-learning .blocks-container .block.rdio {
  background: #4c8cd4;
}
#sect-learning .blocks-container .block.fivehundred {
  background: #222222;
}
#sect-learning .blocks-container .block.mobile1 {
  background: #af1511;
}
#sect-learning .blocks-container .block.mobile2 {
  background: #5e8a01;
}
#sect-learning .blocks-container .block.mobile3 {
  background: #8f634b;
}
#sect-learning .blocks-container .block.mobile4 {
  background: #1f7f3c;
}
#sect-learning .blocks-container .block.mobile5 {
  background: #c93d02;
}
#sect-learning .blocks-container .block:hover {
  opacity: 0.90;
  transition: all 0.25s linear;
}
#sect-resources-list {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.resource {
  flex-grow: 1;
  min-width: 25%;
}
.resource ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.resource h3 {
  color: #ffffff;
  padding: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.resource a {
  display: block;
  padding: 3px 15px;
  text-decoration: none;
  font-size: 1.25em;
  color: #ffffff;
  transition: background 0.25s linear;
}
.resource a:hover {
  background: rgba(255, 255, 255, 0.5);
}
.resource:nth-child(1) {
  background: #225378;
}
.resource:nth-child(2) {
  background: #28618c;
}
.resource:nth-child(3) {
  background: #2d6ea0;
}
.resource:nth-child(4) {
  background: #337cb4;
}
/****  contact section *****/
#contacts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
}
.contacts a {
  color: #acf0f2;
  transition: all 0.25s ease;
}
.contacts a:hover {
  color: #eb7f00;
  transition: all 0.25s ease;
}
.contacts i {
  font-size: 5em;
}
/*** jump to top ***/
.jump-to-top {
  text-align: center;
  width: 38px;
  height: 38px;
  position: fixed;
  bottom: 10px;
  right: 25px;
  color: #333333;
  border-radius: 20px;
  background: rgba(238, 238, 238, 0.5);
  opacity: 0.30;
  display: none;
}
.jump-to-top:hover {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: opacity 0.5s linear, background 0.5s linear;
}
.jump-to-top:hover i {
  color: #ffffff;
}
/* font-awesome overrides */
.fa-7x {
  font-size: 7em;
}
.fa-8x {
  font-size: 8em;
}
.fa-9x {
  font-size: 9em;
}
.fa-10x {
  font-size: 10em;
}
@media screen and (max-width: 480px) {
  nav {
    height: 165px;
  }
  nav span.brand {
    display: none;
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
  }
  nav ul li {
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: 75px;
    top: 0;
    margin: 3px;
  }
  nav ul li a {
    padding-top: 25px;
  }
  nav ul li a:hover,
  nav ul li a:focus {
    background: #169fa3;
    border: none;
    padding-right: 0;
    height: 71px;
  }
  #header {
    display: none;
  }
  section {
    padding: 0;
  }
  .sect-heading p {
    padding: 0 25px;
  }
  #sect-projects .col-3 {
    width: 100%;
  }
  #sect-projects .project {
    margin-bottom: 15px;
  }
  #sect-projects .project .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  #sect-projects .project .overlay h3,
  #sect-projects .project .overlay .info {
    color: #ffffff;
  }
  #sect-knowledge .col-4 {
    width: 100%;
  }
  #sect-knowledge .col-4 ul {
    padding: 0 30px;
  }
  #sect-knowledge .center-icons {
    display: none;
  }
  #sect-knowledge h2 {
    text-align: center;
  }
  #sect-knowledge .icons i {
    font-size: 4em;
  }
  #sect-learning .blocks-container .block {
    width: 90px;
    height: 90px;
    margin: 4px;
  }
  #sect-learning .blocks-container .block h3 {
    letter-spacing: 0;
    top: 0;
  }
  #sect-learning .blocks-container .block p {
    font-size: 1em;
    padding-top: 30px;
  }
  #sect-resources {
    padding-bottom: 15px;
  }
  #sect-resources #sect-resources-list {
    flex-flow: column nowrap;
  }
  #sect-contact {
    padding-bottom: 15px;
  }
  #sect-contact .contacts i {
    font-size: 4em;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .sect-heading p {
    padding: 0 25px;
  }
  #sect-projects .col-4 {
    width: 50%;
  }
  #sect-knowledge .center-icons img {
    width: 100px;
  }
  #sect-knowledge .platforms i {
    font-size: 5em;
  }
  #sect-learning .blocks-container .block {
    width: 100px;
    height: 100px;
  }
  #sect-learning .blocks-container .block p {
    font-size: 1em;
    padding-top: 30px;
  }
  #sect-learning .blocks-container .block h3 {
    letter-spacing: 0;
  }
  #sect-resources #sect-resources-list {
    flex-flow: row wrap;
  }
  #sect-resources #sect-resources-list .resource {
    width: 50%;
  }
}
/* keyframes */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes headerMoveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes headerMoveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes headerGrow {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(3, 3);
  }
}
@keyframes headerGrow {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(3, 3);
  }
}
@-webkit-keyframes headerColorChange {
  0% {
    color: #ffffff;
  }
  100% {
    color: #f3ffe2;
  }
}
@keyframes headerColorChange {
  0% {
    color: #ffffff;
  }
  100% {
    color: #f3ffe2;
  }
}
/* header animation classes */
#header h1 {
  animation: headerMoveDown 2s ease forwards;
}
#header h2 {
  animation: fadeIn 2s ease 2s forwards;
}
#header .laptop {
  padding-top: 7px;
  animation: fadeIn 2s linear forwards, headerGrow 2s linear forwards, headerColorChange 2s ease 2.5s forwards;
}
/* sect-learning keyframes */
@-webkit-keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes flipX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes flipX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
/* sect-learning animation classes */
.animate-flipY {
  animation: flipY 1s ease-in-out forwards;
}
.animate-flipX {
  animation: flipX 1s ease-in-out forwards;
}
