//responsive.less

//for phone devices
@media screen and (max-width: 480px) {
	
	nav {
		
		height: 165px;
		
		& span.brand {
			display: none;
		}
		
		& ul {
			display: flex;
			flex-flow: row wrap;
			margin: 0;
			
			li {
				border: 2px solid @whiteTransparent;
				height: 75px;
				top: 0;
				margin: 3px;
				
				a {
					padding-top: 25px;
				}
				
				a:hover,
				a:focus {
					background: @secondColor;
					border: none;
					padding-right: 0;
					height: 71px;
				}
			}
		}
	}
	
	#header {
		display: none;
	}
	
		section {
		padding: 0;
	}
	
	.sect-heading {
		
		p {
			padding: 0 25px;
		}
	}
	
	#sect-projects {
		
		& .col-3 {
			width: 100%;
		}
		
		& .project {
			margin-bottom: 15px;
		}
		
		& .project .overlay {
			background: @blackTransparent;
			
			h3,
			.info {
				color: @white;
			}
		}
	}
	
	#sect-knowledge {
		
		.col-4 {
			width: 100%;
			
			ul {
				padding: 0 30px;
			}
		}
		
		.center-icons {
			display: none;
		}
		
		h2 {
			text-align: center;
		}
		
		.icons i {
			font-size: 4em;
		}
	}
	
	#sect-learning .blocks-container .block {
		
		width: 90px;
		height: 90px;
		margin: 4px;
		
		h3 {
			letter-spacing: 0;
			top: 0;
		}
		
		p {
			font-size: 1em;
			padding-top: 30px;
		}
	}
	
	#sect-resources {
		
		padding-bottom: 15px;
		
		#sect-resources-list {
		
			flex-flow: column nowrap;
		}
	}
	
	
	#sect-contact {
		
		padding-bottom: 15px;
		
		.contacts i {
			font-size: 4em;
		}
	}
}

//for tablet sizes
@media screen and (min-width: 768px) and (max-width: 980px) {
	
	.sect-heading p {
		padding: 0 25px;
	}
	
	#sect-projects .col-4 {
		width: 50%;
	}
	
	#sect-knowledge .center-icons img {
		width: 100px;
	}
	
	#sect-knowledge .platforms i {
			font-size: 5em;
	}
	
	#sect-learning .blocks-container .block {
		width: 100px;
		height: 100px;
		
		& p {
			font-size: 1em;
			padding-top: 30px;
		}
		
		& h3 {
			letter-spacing: 0;
		}
	}
	
	#sect-resources  #sect-resources-list {
		flex-flow: row wrap;
		
		.resource {
			width: 50%;
		}
	}
} 
