//variables.less

//scheme 1: chamber secondary palette - Kuler
@scheme1: #df4800, #aee805, #037fff, #ffcf36, #d1ffd9;

//scheme 2: purple rose - Kuler
@scheme2: #260515, #591636, #a6588a, #d99ace, #f2cecc;

//scheme 3: bermuda one - Kuler
@scheme3: #8a7ed9, #4c4286, #d9d2c5, #D94e4e, #a63c3c;

//scheme 4: aspirin c - Kuler
@scheme4: #225378, #169fa3, #acf0f2, #f3ffe2, #eb7f00;

//scheme 5: red violet blue chromatic - Kuler
@scheme5: #e22b35, #982156, #492354, #3f4174, #3d67b1;

@firstColor: 	extract(@scheme4, 1);
@secondColor: extract(@scheme4, 2);
@thirdColor: 	extract(@scheme4, 3);
@fourthColor: extract(@scheme4, 4);
@fifthColor: 	extract(@scheme4, 5);

@white: 		#FFF;
@black: 		#000;
@gray: 			#EEE;
@darkGray: 	#333;

@whiteTransparent: 	rgba(255,255,255,0.5);
@blackTransparent: 	rgba(0,0,0,0.5);
@projectHover: 				fade(@fifthColor, 85%);

//tech icons
@html5Color: #F16528;
@css3Color: #1572B6; 

//platform icons
@appleColor: 		#A8B1B8;
@linuxColor: 		@apigee;
@windowsColor: 	#0078D7;

//api colors
@spotify: 				#2ebd59;
@darkSky: 				#2c2c2c;
@apigee: 					#fc4c02;
@streamio: 				#5f7b9b;
@node: 						#80bd01;
@angular: 				#dd1b16;
@mongo: 					#3b291f;
@backbone: 				#0071b5;
@react: 					#61affb;
@echonest: 				#414143;
@rdio: 						#4c8cd4;
@fiveHundredpx: 	#222222;
@mobile1: 					darken(@angular, 10%);
@mobile2: 					darken(@node, 10%);
@mobile3: 					lighten(@mongo, 25%);
@mobile4: 					darken(@spotify, 15%);
@mobile5: 					darken(@apigee, 10%);

@resourceGroup1: 		@firstColor;
@resourceGroup2: 		lighten(@firstColor, 5%);
@resourceGroup3: 		lighten(@firstColor, 10%);
@resourceGroup4: 		lighten(@firstColor, 15%);
