/* ww-grid.css 
   Wes Wise
   May, 2015
 */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 
/* Attribute selector */
[class*='col-'] {
  float: left;  
  padding: 10px;
}
 
/* Floats last ".bit-" to the right */
/*[class*='col-']:last-of-type {
  padding-right: 10px;
  float: right;
}*/
 
/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Columns */
.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.5%; }
.col-6  { width: 50%; }
.col-7  { width: 58.1%; }
.col-8  { width: 66.65%; }
.col-9  { width: 74.7%; }
.col-10 { width: 83%; }
.col-11 { width: 91.3%; }
.col-12 { width: 100%; }


/* typography */
h1, h2, h3, h4, h5, h6 {
  padding: 20px 10px;  
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em;   }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }

p {
  margin: 2px 0;
  line-height: 22px;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.text-small { font-size: 1.75em; }
.text-medium { font-size: 2em; }
.text-large { font-size: 2.75em; }
