
#photos {
	height: 500px;
	max-height: 500px;
	overflow-y: auto;
}

#photos img:hover {
	cursor: pointer;
}

#filter-buttons {
	display: flex;
	justify-content: space-between;
	flex-flow: column;	
	flex-wrap: wrap;		
}

#filter-buttons .btn {
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	align-self: flex-end;
	margin: 8px;
}

.task-wrapper {
	display: none;
}

.filter-undo-button {
	position: absolute;
}

.filter-undo-button a {
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
}

.filter-modify {
	position: absolute;
	width: 300px;
	height: 160px;
	background-color: rgba(255,255,255,0.75);
	border: 2px solid #FFF;
	border-radius: 8px;
	min-height: 130px;
	margin-left: 125px;
	margin-top: 10px;
	padding: 0 20px;
	z-index: 100;
}

.filter-modify .info {
	font-size: smaller;
}

#preview {
	position: relative;
}

#inner {
	min-height: 440px;
	max-width: 440px;
}


/* filters */
.blur-init {
	filter: blur(5px);
}

.brightness-init {
	filter: brightness(0.5);
}

.contrast-init {
	filter: contrast(50%);
}

.drop-shadow-init {
	filter: drop-shadow(0px 0px 16px #333);
}

.grayscale-init {
	filter: grayscale(100%);
}

.hue-rotate-init {
	filter: hue-rotate(90deg);
}

.invert-init {
	filter: invert(100%);
}

.opacity-init {
	filter: opacity(50%);
}

.saturate-init {
	filter: saturate(250%);
}

.sepia-init {
	filter: sepia(100%);
}

/* materialize overrides */

input[type="range"] {
	border: none;
}

input[type=range] + .thumb {
	
	background: #5C6BC0;
}
