
body {
  font-family: 'Noto Sans', sans-serif;
  padding: 25px;
}

.grid {
  margin-bottom: 30px;
}

p {
  background-color: mediumpurple;
  border-radius: 5px;
  padding: 5px;
  color: #FFF;
  text-align: center;
}

footer {
  border-top: 1px solid #CCC;
}

footer p {
  background-color: #FFF;
  color: #333;
  font-size: small;
}

.well {
  background-color: #EEE;
}